@font-face {
  font-family: Post No Bills Jaffna Bold;
  font-display: swap;
  src: url("../fonts/Post No Bills Jaffna Bold.woff2") format("woff2"),
    url("../fonts/Post No Bills Jaffna Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
